@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: lightgray;
  font-family: arial;
  margin: 0;
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.navbar {
  font-size: 20px;
  top: 0;
  position: sticky;
  background-color: #333;
  position: sticky;
  color: white;  
  display: flex;
  text-align: center;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-between;
}

.navbar a{
  flex-grow: 1;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.home_button{
  display: flex;
}
.home_button img{
  color: white;
  height: 20px;
  width: 20px;
}

.row{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.column{
  display: flex;

  flex-direction: column;
  flex-grow: 1;
}

.block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4%;
  padding: 1.5%;
  background-color: #3E3F43;
}

.block2 a{
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 17.5px;
  height: 35px;
  width: 35px;
}
.block2 img{
  height: 25px;
  width: 25px;
}
.block3 {
  height: 5%;
  background-color: rgb(220, 220, 220);
}

.block4 {
  padding: 5%;
  margin: 2%;
  background-color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.block4 .column{ 
  margin: 2%;
}
.block4 .row{
/*  width: 200%;*/
}
.block4 img{
  border: 1px solid rgb(220, 220, 220);
  padding: 2%;
  width: 40%;
  flex-shrink: 0;
  
  border-radius: 15px;
}

.block4 h1, h2{
  font-size: 30px;
  margin-left: 10%;
}

.description{
/*  padding: 5%;*/
  padding-top: 5%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  font-size: 16px;
  font-weight: 200;
  line-height: 25px;
  color: #777;
}

.characteristic_item{
  border-top: 1px solid rgb(220, 220, 220);
  display: flex;
  color: #777;
  line-height: 50px;
}
.characteristic_name{
  width: 50%;
}
.characteristic_value{
  width: 50%;
}

.description h2{
  font-size: 25px;
  color: #000;
  margin: 0;
}


.code{
  margin-top: 10px;
  margin-left: 10%;
  font-size: 14px;
  font-weight: normal;
}

.availability{
  margin-top: 10px;
  margin-left: 10%;
}

.price{
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: 10%;
  padding: 10%;
  margin-left: 10%;
}
.price b{
  font-size: 30px;
}

.price a{
  padding: 3%;
  padding-right: 7%;
  padding-left: 7%;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgb(118, 207, 81);
}

.price a:visited{
  color: #fff;
}
.price a:link{
  color: #fff;
}

.price a:hover{
  background-color: rgb(64, 159, 57);
}

.price a:active{
  background-color: rgb(64, 200, 40);
}

.block5 {
  background-color: white;
  width: 10%;
}

.footer{
  background-color: #333;
  bottom: 0;
  color: white;
  display: flex;

  flex-direction: column;
  align-items: start;
  padding: 3%;
}

.footer .row{
  display: flex;
  width: 100%;
  align-items: center;
  height: 40px;
}

.footer h2{
  margin: 0;
  padding: 0;
  font-size: 25px;
  border-bottom: 1px solid gold;
}

.sub_column{
  display: flex;
  width: 20%;
  justify-content: start;
}

.sub_column a{
  font-size: 15px;
  line-height: 25px;
}

.sub_column a:visited{
  color: rgb(220, 220, 220);
}
.sub_column a:link{
  color: rgb(220, 220, 220);
}

.sub_column a:hover{
  color: gold;
}

.sub_column a:active{
  color: rgb(255, 255, 144);
}